// COLORS
$primary-color: #23CF37;
$secondary-color: #dc30c8;
$black-color: #000;
$white-color: #fff;

// FONTS
$xxxsf: 8px;
$xxsf: 10px;
$xsf: 12px;
$smf: 14px;
$mdf: 16px;
$lgf: 18px;
$xlf: 24px;
$xxlf: 36px;
$xxxlf: 48px;

// BREAKPOINTS
$xxxsb: 320px; // small mobile
$xxsb: 375px; // medium mobile
$xsb: 425px; // large mobile
$smb: 768px; // tablet || small laptop
$mdb: 920px; // medium laptop
$lgb: 1440px; // large laptop
$xlb: 1920px; // 1080p FHD desktop
$xxlb: 2560px; // 2K WQHD desktop
$xxxlb: 3840px; // 4K UHD desktop
